@font-face {
    font-family: 'Indie Flower';
    src: local('IndieFlower Regular'), local('IndieFlower-Regular'),
        url("IndieFlower-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}